html,body{
    margin: 0;
    padding: 0;
    background-image: url('../img/fondo.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.tex{
    color: white;
    font-size: 13.5px;
}
.tex:link, .tex:visited, .tex:active {
    text-decoration:none;
    color: white;
}
p{
    text-align: center;
    font-size: 15px;
}

#loginbox{
    margin-top:200px;
}
#signupbox{
    margin-top:100px;
}

